@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url("/intro-section-with-dropdown-navigation/fonts/Epilogue-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url("/sunnyside-agency-landing-page/fonts/Barlow-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url("/sunnyside-agency-landing-page/fonts/Barlow-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url("/sunnyside-agency-landing-page/fonts/Barlow-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: local("Barlow Semi Condensed"), url("/testimonials-grid-section/fonts/BarlowSemiCondensed-Medium.ttf");
  font-weight: 500;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: local("Barlow Semi Condensed"), url("/testimonials-grid-section/fonts/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Fraunces";
  src: local("Fraunces"), url("/sunnyside-agency-landing-page/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"), url("/blogr-landing-page/fonts/Overpass-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/blogr-landing-page/fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/blogr-landing-page/fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/blogr-landing-page/fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Josefin Sans";
  src: local("Josefin Sans"), url("/loopstudios-landing-page/fonts/JosefinSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Alata";
  src: local("Alata"), url("/loopstudios-landing-page/fonts/Alata-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Commissioner";
  src: local("Commissioner"), url("/crowdfunding-product-page/fonts/Commissioner-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("/interactive-pricing-component/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("/huddle-landing-page-with-curved-sections/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("/huddle-landing-page-with-curved-sections/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("/huddle-landing-page-with-curved-sections/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("/huddle-landing-page-with-curved-sections/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/coding-bootcamp-testimonials-slider/fonts/Inter-VariableFont.ttf");
}

@font-face {
  font-family: "Karla";
  src: local("Karla"), url("/insure-landing-page/fonts/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display"), url("/insure-landing-page/fonts/DMSerifDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("/pricing-component-with-toggle/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Barlow Condensed";
  src: local("Barlow Condensed"), url("/project-tracking-intro-component/fonts/BarlowCondensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow Condensed";
  src: local("Barlow Condensed"), url("/project-tracking-intro-component/fonts/BarlowCondensed-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url("/qr-code-component/fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Red Hat Display";
  src: local("Red Hat Display"), url("/order-summary-component/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lexend Deca";
  src: local("Lexend Deca"), url("/stats-preview-card-component/fonts/LexendDeca-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Big Shoulders Display";
  src: local("Big Shoulders Display"), url("/3-column-preview-card-component/fonts/BigShouldersDisplay-VariableFont_wght.ttf");
}

@layer components {
  #intro-with-dropdown * {
    @apply font-epilogue;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"] {
    @apply appearance-none;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* 
*:focus-visible {
  border: none;
  outline: none;
} */
