@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url("/intro-section-with-dropdown-navigation/fonts/Epilogue-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url("/sunnyside-agency-landing-page/fonts/Barlow-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url("/sunnyside-agency-landing-page/fonts/Barlow-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url("/sunnyside-agency-landing-page/fonts/Barlow-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: local("Barlow Semi Condensed"), url("/testimonials-grid-section/fonts/BarlowSemiCondensed-Medium.ttf");
  font-weight: 500;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: local("Barlow Semi Condensed"), url("/testimonials-grid-section/fonts/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Fraunces";
  src: local("Fraunces"), url("/sunnyside-agency-landing-page/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"), url("/blogr-landing-page/fonts/Overpass-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/blogr-landing-page/fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/blogr-landing-page/fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/blogr-landing-page/fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
}

@layer components {
  #intro-with-dropdown * {
    @apply font-epilogue;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"] {
    @apply appearance-none;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* 
*:focus-visible {
  border: none;
  outline: none;
} */
